@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000a1d;
        --foreground: #ffffff;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}

@font-face {
    font-family: "batman-forever";
    src: url("/fonts/batman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-batman {
    font-family: "batman-forever";
}

.container {
    @apply mx-auto px-1 sm:px-0 sm:w-11/12 md:w-5/6 lg:w-3/4;
}
