@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000919;
        --foreground: #ffffff;
    }
}

body {
    overflow: hidden;
    color: var(--foreground);
    background-color: hsla(240, 100%, 4%, 1);
    background-image: radial-gradient(
            at 26% 50%,
            hsla(226, 46%, 13%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 99% 0%, hsla(240, 31%, 16%, 1) 0px, transparent 50%);
    height: 100vh;
}

@font-face {
    font-family: "batman-forever";
    src: url("/fonts/batman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-batman {
    font-family: "batman-forever";
}

.container {
    @apply mx-auto px-2 sm:px-0 sm:w-11/12 md:w-5/6 lg:w-3/4;
}
