.svg-bg {
    @apply top-0 left-0 fixed flex justify-center items-center flex-col;
    @apply h-screen w-screen bg-transparent -z-[100] opacity-0;
    animation: 4s ease-in-out animate-svg-bg;
}

@keyframes animate-svg-bg {
    0%,
    80% {
        @apply z-[100] opacity-100;
        background-color: #000014;
        background-image: radial-gradient(
                at 26% 50%,
                #121930 0px,
                transparent 50%
            ),
            radial-gradient(at 99% 0%, #1c1c35 0px, transparent 50%);
    }

    100% {
        @apply bg-transparent opacity-0 -z-[100];
    }
}

svg#intro text {
    @apply text-white fill-transparent stroke-white;
    animation: 4s forwards animate-stroke;
}

@keyframes animate-stroke {
    0% {
        @apply fill-transparent stroke-white stroke-2;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 25%;
    }

    80%,
    100% {
        @apply fill-white stroke-transparent stroke-0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}
