nav ul a::after {
    transition: width 0.3s ease-in-out;
    @apply content-[""] block w-0 h-0.5 bg-slate-500;
}

nav ul a:hover::after {
    @apply w-full;
}

nav ul a:hover {
    @apply text-slate-500;
    transition: 0.3s ease-in-out;
}

#menu-button {
    @apply flex flex-col gap-[3.5px] w-10 h-10 items-center justify-center;
}

#menu-button span {
    @apply relative z-50 w-[25px] h-[2.5px] rounded-[5px] bg-white;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

:root[menu-open] #menu-button span:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
}

:root[menu-open] #menu-button span:nth-child(2) {
    transform: scale(0);
    opacity: 0;
}

:root[menu-open] #menu-button span:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
}

:root[menu-open] #menu-button span {
    background-color: #ffffff;
}
